
.ButtonTree {
  background-color: white;
}


body{
    margin: 0px;
}

.header {
  background: rgb(255,204,0);
  background: radial-gradient(circle, rgba(255,204,0,1) 0%, rgba(229,85,46,1) 100%);
  /* background-color: #ffcc00;*/
  margin: 0px;
}

.menu_h1{
    top: 20px;
}

  .h1Head{
    font-size: 50px;
    margin: 0px;
    padding-top : 30px;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.menuButton {
  margin: 100px;
  margin-bottom: 0px;
  margin-top: auto;
  background-color: #ffcc00;
  font-family: Impact, 'Times New Roman', Times, serif;
  border-width: 0px;
  font-size: 20px;
  cursor: pointer;
  color: #330000;
}

  .menuButton:hover{
      color: darkmagenta;
}

  hr{
      margin: 0px;
      color: black;
  }

.alerthdr {
  text-align: center;
  font-family: Verdana;
  color: #330000;
}


.redText {
  color: red;
}
