<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header">
  <span class="menu_h1">
    <h1 class="h1Head" style="color: #990000 ;font-family: Stencil Std, fantasy">Fire Force Control Board</h1>
  </span>

  <span class="menu">
    <button class="menuButton" (click)="changeToPage('AlertsPage')">Alerts</button>
    <button class="menuButton" (click)="changeToPage('devicePage')">Devices</button>
    <button class="menuButton" (click)="changeToPage('historyAlertsPage')">Alerts History</button>
    <button class="menuButton" (click)="changeToPage('aboutPage')">About</button>
  </span>
  <hr>
</div>

<div *ngIf="page=='AlertsPage'">
  <mat-accordion>
    <h1 class="alerthdr">Urgent Alerts</h1>
    <mat-expansion-panel *ngFor="let alert of ALERTS_DATA"
                         (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Device ID : {{  alert["alert_obj"].RowKey}}<span class="redText" style="padding-left:0.5em"> is alerting </span>
        </mat-panel-title>
        <mat-panel-title>
          Latitude : {{  alert["alert_obj"].latitude}}
        </mat-panel-title>
        <mat-panel-title>
          Longitude : {{  alert["alert_obj"].longitude}}
        </mat-panel-title>
        <mat-panel-title>
          Client's Name : {{  alert["client_obj"].name}}
        </mat-panel-title>
        <mat-panel-title>
          Client's Email : {{  alert["client_obj"].email}}
        </mat-panel-title>
        <mat-panel-description>
          Client's Phone Number : {{alert["client_obj"].phone_number}}
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        Is it False Alarm?
        <mat-checkbox [(ngModel)]="checked"></mat-checkbox>
      </p>
      <input matInput type="text" [(ngModel)]="injured" placeholder="Number of injured" [disabled]="checked">
      <input matInput #message maxlength="50" placeholder="Event details">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addAlert(alert['alert_obj'].RowKey, alert['client_obj'].phone)">
        <mat-icon>send</mat-icon>
      </button>


    </mat-expansion-panel>
  </mat-accordion>
</div>


<div *ngIf="page=='devicePage'">
  <mat-tree [dataSource]="dataSourceTree" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button class="ButtonTree" mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button class="ButtonTree" mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
</div>



<!-- lina : -->
<div *ngIf="page=='historyAlertsPage'">
  <h1 class="alerthdr">Alerts History</h1>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef><b> Device ID </b></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["device_id"]}} </mat-cell>
    </ng-container>

    <!-- lonlat Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef><b> Country </b></mat-header-cell>
      <mat-cell *matCellDef> {{lonlatArr["country"]}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef><b> City </b></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["city"]}} </mat-cell>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="lat">
      <mat-header-cell *matHeaderCellDef><b> Latitude </b></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["latitude"]}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lon">
      <mat-header-cell *matHeaderCellDef><b> Longitude</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["longitude"]}} </mat-cell>
    </ng-container>


    <!-- details Column -->
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef><b> Event Details</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["event_details"]}} </mat-cell>
    </ng-container>

    <!-- alarm Column -->
    <ng-container matColumnDef="bool">
      <mat-header-cell *matHeaderCellDef><b> False/True Alarm </b></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["is_true_alarm"]}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef><b> No. Of Injuries </b></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["alertElement"]["num_of_injured"]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div *ngIf="page=='aboutPage'">
  <p>
    <span style='border:1px lightgrey solid;padding:15px; white-space: pre;' *ngFor="let device of devices">
      {{device}}
      <button style="background-color: rgb(39, 109, 155); color: white; margin-left:20px;"
              (click)="increaseCounter()">
        +
      </button>
      <button style="background-color: rgb(39, 109, 155); color: white;" (click)="pushButton()">+</button>
    </span>
  </p>
</div>

